/* Table of Content
==================================================
	#Typography Styles
		Headings h1-h6
		Paragraph
		Lists
		Buttons and forms
	#Page Styles
		Header Navigation
		Header
		How-To
		Testimonials/Quote Rotator
		Footer
	#Media Queries
	#Font-Face */





/* #Typography Styles
================================================== */


body {
	font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
	font-size: 24px;
	line-height: 1.2em;
}



/* Headings h1-h6 styles */

h1, h2, h3 {
	font-family: "museo-slab", "Museo Slab", serif;
	line-height: 1.2em;
	color: #ffffff;
}

h1 {
	font-family: "museo-slab", "Museo Slab", serif;
	font-size: 60px;
	}

h2 {
	font-size: 50px;
	}

h3 {
	font-size: 40px;
}

h4 {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 30px;
	font-weight: 100;
	color: #000000;
}
h5 {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 20px;
	color: #ffffff;


}
 h6 {
 	font-family: Helvetica, Verdana, sans-serif;
 	font-size: 10px;
 	color: #000000;
 	font-style: italic;
 }

.text-inverse{
	color: #ffffff; 
		}


 .highlight {
 	color: #1e81ff;
 }

.better {
	color: #2cefbc;
}

.testimonials h3 {
	color: #999;
	text-align: center;
		margin-top: 1em;
}



/* Paragraph styles */

p {
	font-family: "Helvetica Neue", Verdana, sans-serif;
	font-size: 24px;
	line-height: 1.2em;
}
header p {
	font-size: 32px;

}
.testimonials p {
	color: #000000;
}



/* list styles */

#foot-links {
	display: inline-block;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
}
#foot-links li:first-child {
	font-size: 18px;
	line-height: 2;
	text-transform: uppercase;
}

#social {
	margin-top: 15px;
}




/* buttons and forms */

.button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        /* Add your properties and values here to overwrite the others. */
	font-family: Helvetica, Verdana, sans-serif;
	color: #ffffff;
}

button {
	color: #ffffff;
	background: #1e81ff;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-family: "Helvetica", Verdana, sans-serif;
	font-weight: 300;
}

.large-button {
	font-size: 32px;
	width: 240px;
	height: 60px;
}

.medium-button {
	font-size: 24px;
	width: 200px;
	height: 50px;
}

.small-button {
	font-size: 14px;
	text-transform: uppercase;
	width: 100px;
	height: 30px;

}

/* not working

input [email] {
	height: 50px;
	width: 10px;
	border-radius: 5px;
}

*/

/* #Page Styles
================================================== */




/* Header Navigation Styles */

.logo img {
	height: 80px;
	width: 150px;
}
.left-nav {
	float:left;

}
.right-nav {

	float:right;
	margin-top: 10px;
	text-transform: uppercase;
}

header > nav li {
	display: inline-block;
}



/* Header Styles */

header {
background: transparent url("../images/header-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  min-height: 500px;
  padding: 0 0 300px 0;

}
header h1 {
	margin:0;
	display:inline;
}
header nav {
	display: inline;
	
}

header nav ul {
	float: right;
	list-style-type: none;
	margin-top:15px;
}
header nav ul li{
	display: inline;
	padding: 0px 20px;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 16px;
	color: #ffffff;
	list-style-type: none;
}

header nav ul li.selected{
	padding-bottom: 10px;
}

header nav ul li a{
	color: #ffffff;
	text-decoration: none;

}
header nav ul li a:hover{
	color: #1e81ff;
}


#marketing {
	text-align: center;
	margin-top: 100px;
}





/* How-to section */

#how-to{
	background: -webkit-linear-gradient(left top, #1e81ff , #2effb2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1e81ff, #2effb2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1e81ff, #2effb2); /* For Firefox 3.6 to 15 */
  background: 
  url("../images/feather-bg.svg") , linear-gradient(to bottom right, #1e81ff , #2effb2); /* Standard syntax */
	background-size: 120%;
	background-position: center center;
	background-repeat: repeat;
	text-align: center;
	padding: 100px 0;
}
#simple {
	padding-top: 50px;
}




/* Footer Styles */

#footer {
	background-image: url("../images/footer-feather.svg");
	background-repeat: no-repeat;
	background-size:16%;
	background-position: 16%;
	background-color: #b4c3c3;
	color: #ffffff;
	padding: 50px 0;
}

#email {
	width: 187px;
	font-size: 18px;
	margin: 20px 0 5px 0;
	border-radius: 5px;
	padding: 2px 6px 3px;

}
#footer button {
	text-align: center;
}

#footer a {
	text-decoration: none;
}




/* Testimonials Section */
/* Quote Rotator Styles */

.cbp-qtrotator {
    position: relative;
    margin: 2em auto 5em auto;
    max-width: 800px;
    width: 100%;
    min-height: 270px;
}
 
 .cbp-qtcontent {
 	text-align: center;

 }
.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    min-height: 200px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 2em 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
}
 
.no-js .cbp-qtrotator .cbp-qtcontent {
    border-bottom: none;
}
 
/* Currently visible */

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
    position: relative; 
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}
 /*
 
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
    content: " ";
    display: table;
}


.cbp-qtrotator .cbp-qtcontent:after {
    clear: both;
}
 */
.cbp-qtprogress {
    position: absolute;
    background: #47a3da;
    height: 1px;
    width: 0%;
    top: 0;
    z-index: 1000;
}
 
.cbp-qtrotator blockquote {
	border: none;
    margin: 0;
    line-height: 1.4;
}
 
.cbp-qtrotator blockquote p {
    font-size: 1.3em;
    color: #888;
    font-weight: 300;

}
 
.cbp-qtrotator blockquote footer {
    font-size: 28px;
    text-align: center;
}
 

 




/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	   .left-nav {
	   	width: 100%;
	   	float: none;
	   text-align: center;
	   margin-top: 10px
		}
		.right-nav button {
			border-radius: 0;
			width: 100%;
			border: none;
			text-align: center;
			padding: 25px 0 35px 0;
			

		}
		.right-nav {
			float: none;
			padding: 0;
			margin: 0;
			border: 0;
			clear: both;
		}
		.right-nav ul {
			float:none;
		}
		.right-nav  ul li {
			background: rgba(255, 255, 255, .2);
			padding: 21px;
		}

		.right-nav li:last-child {
			background: none;
			padding: 0;
		}

	h1 {
		font-size: 50px;
	}
	header p {
		font-size: 24px;
	}
		#footer {
			text-align: center;
			background: #b4c3c3;
		}
		#social li{
			display: inline-block;
			margin: 10px;
		}
		#footer input {
			display: block;
			margin: 10px auto;
		}
}
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
	@media screen and (max-width: 30.6em) { 
 
    .cbp-qtrotator {
        font-size: 70%;
    }
 
    .cbp-qtrotator img {
        width: 150px;
    }
		.cbp-qtrotator blockquote p {
    	font-size: 1.3em;
    	color: #888;
    	font-weight: 300;
    	padding: 0;
}




